torch>=2
torchaudio>=2
faster-whisper==1.0.0
transformers
pandas
setuptools>=65
nltk
pyaudio
wave
tempfile
requests
openai
dotenv
threading
queue
pika
asyncio
websockets
whisperx
base64
text_correction
re
